@import url(https://fonts.googleapis.com/css?family=Stardos+Stencil);
@import url(https://fonts.googleapis.com/css?family=Marvel:400,700);

#header {
  background-color: #cccccc;
  font-stretch: extra-expanded;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;

}

.navbar-nav {
  margin-left: 25px;
  font-size: 25px;
  font-family: 'Marvel', sans-serif;
}


h1 {
  font-family: 'Stardos Stencil', cursive;

}


h2 {
  font-family: 'Stardos Stencil', cursive;
}

#contacts {
  font-family: 'Stardos Stencil', cursive;
  font-size: 26px;
  display: block;
  float: none;
  margin: 20px;
  text-align: center;
  height: 175px;
}


#crab {
align-content: center;
margin-top: 25px;
margin-bottom: 50px;
}

.text{
  font-family: 'Marvel', sans-serif;
  font-size: 18px;
  text-align: right;
}

#self {
  padding-right: 200px;
}

#city{
  margin-top: 25px;
  align-content: center;
}

.col-md-6 {
  margin-bottom: 50px;
}
