@import url(https://fonts.googleapis.com/css?family=Stardos+Stencil);
@import url(https://fonts.googleapis.com/css?family=Marvel:400,700);

#header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.navbar-nav {
  font-size: 25px;
  font-family: 'Marvel', sans-serif;
}


h1 {
  font-family: 'Stardos Stencil', cursive;

}

footer {
  text-align: center;
  font-family: 'Stardos Stencil', cursive;
  font-size: 40px;
}

h2 {
  font-family: 'Stardos Stencil', cursive;
}

#contacts {
  font-family: 'Stardos Stencil', cursive;
  font-size: 26px;
  display: block;
  float: none;
  margin: 20px;
  text-align: center;
  height: 300px;
}


#city{
  display: block;
}

#image {
  display: block;
}

.text{
  text-align: right;
}
