<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <header>
    <div class="container-fluid">
      <h1> Steven X. Serpico </h1>
    </div>
<div class="container">
  <div class="row">
      <ul class="nav navbar-nav">
        <div class="col-md-3">
        <li> <a href="index.html"> Home </a>
        </li>
      </div>
      <div class="col-md-3">
        <li> <a href="about.html"> About </a>
        </li>
      </div>
      <div class="col-md-3">
        <li> <a href="works.html"> Works </a>
        </li>
      </div>
      <div class="col-md-3">
        <li> <a href="contact.html"> Contact </a>
        </li>
      </div>
      </ul>
  </div>
</div>
</header>
</body>
</html>
