<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-inline">
        <li> Home <a href="index.html"> </a> </li>
        <li> About <a href="about.html"> </a> </li>
        <li> Works <a href="works.html"> </a> </li>
        <li> Contact <a href="contact.html"> </a> </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
